{% extends 'base.html.twig' %}



{% block body %}
  <h1>Hello {{ controller_name }}! ✅</h1>

  This friendly message is coming from:
  <ul>
    <li>Your controller at <code><a href="{{ 'C:/wamp64/www/Symfony/allocation_chambre/src/Controller/ListeEtudiantController.php'|file_link(0) }}">src/Controller/ListeEtudiantController.php</a></code></li>
    <li>Your template at <code><a href="{{ 'C:/wamp64/www/Symfony/allocation_chambre/templates/liste_etudiant/index.html.twig'|file_link(0) }}">templates/liste_etudiant/index.html.twig</a></code></li>
  </ul>
    
{% endblock %}
