{% extends 'base.html.twig' %}


{% block body %}

	<h2>Hello Voici la liste des chambres ! ✅</h2>

	<table id="maTable">
		<tr>
			<th>Numero</th>
			<th>Type</th>
			<th>Numero Bat</th>
			<th>Action</th>
		</tr>
		{% for chambre in chambres %}
			<tr>
				<td>{{chambre.numero}}</td>
				<td>{{chambre.type}}</td>
				<td>{{chambre.numeroBat}}</td>
				<td>
					<button class="btn-danger">
						<a href="{{path('chambre_update',{'id':chambre.id})}}">
							Update</a>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
{% block javascripts %}
	<script src="JS/lieChambre.js"></script>
{% endblock %}
