{% extends 'base.html.twig' %}


{% block body %}

	<h2>Hello Voici la liste des chambres ! ✅</h2>

	<table id="table_id">
		<thead>
			<tr>
				<th>Numero</th>
				<th>Type</th>
				<th>Numero Bat</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody>
			{% for chambre in chambres %}
				<tr>
					<td>{{chambre.numero}}</td>
					<td>{{chambre.type}}</td>
					<td>{{chambre.numeroBat}}</td>
					<td>
						<button class="btn-secondary">
							<a href="{{path('chambre_update',{'id':chambre.id})}}">
								Update</a>
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
