{% extends 'base.html.twig' %}



{% block body %}

    <h2>Hello Voici la liste des chambres ! ✅</h2>

    <table>
      <tr>
        <th>Numero</th>
        <th>Type</th>
        <th>Numero Bat</th>
        <th colspan="2">Action</th>
      </tr>
      {% for chambre in chambres %}
        <tr>
          <td>{{chambre.numero}}</td>
          <td>{{chambre.type}}</td>
          <td>{{chambre.numeroBat}}</td>
          <td><a href="{{path('chambre_update',{'id':chambre.id})}}"> Upppdaa</a></td>
        </tr>
      {% endfor %}
    </table>
    
{% endblock %}
