{% extends 'base.html.twig' %}


{% block body %}

	<h2>Hello Voici la liste des chambres ! ✅</h2>

	<table id="maTable" class="display">

		<tr>
			<th>Numero</th>
			<th>Type</th>
			<th>Numero Bat</th>
			<th>Action</th>
		</tr>
		{% for chambre in chambres %}
			<tr>
				<td>{{chambre.numero}}</td>
				<td>{{chambre.type}}</td>
				<td>{{chambre.numeroBat}}</td>
				<td>
					<button class="btn-secondary">
						<a href="{{path('chambre_update',{'id':chambre.id})}}">
							Update</a>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
{% block javascripts %}
	<script src="JS/listeChambre.js"></script>

	<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


{% endblock %}
