{% extends 'base.html.twig' %}


{% block body %}

	<h2>Hello Voici la liste des chambres ! ✅</h2>

	<table id="table_id">
		<tr>
			<th>Numero</th>
			<th>Type</th>
			<th>Numero Bat</th>

		</tr>
		{% for chambre in chambres %}
			<tr>
				<td>{{chambre.numero}}</td>
				<td>{{chambre.type}}</td>
				<td>{{chambre.numeroBat}}</td>

			</tr>
		{% endfor %}
	</table>

{% endblock %}
{% block javascripts %}
	<script src="JS/listeChambre.js"></script>
	<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
	<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
{% endblock %}
