{% extends 'base.html.twig' %}


{% block body %}

	<h2 class="text-center">Hello</h2>
	<div class="col-md-6">
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}

	</div>


{% endblock %}
