{% extends 'base.html.twig' %}



{% block body %}
my job
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/Symfony/allocation_chambre/src/Controller/ChambreController.php'|file_link(0) }}">src/Controller/ChambreController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/Symfony/allocation_chambre/templates/chambre/index.html.twig'|file_link(0) }}">templates/chambre/index.html.twig</a></code></li>
    </ul>

{% endblock %}
