{% extends 'base.html.twig' %}


{% block body %}

	<h2 class="text-center">Hello Veuillez Ajouter vos chambre ✅</h2>
	<div class="form-group">
		{{form_start(formChambre)}}
		{{form_widget(formChambre)}}
		<button type="submit" name="" id="" class="btn btn-warning">Ajouter</button>
		{{form_end(formChambre)}}
	</div>

{% endblock %}
{% block javascripts %}
	<script src="JS/ajoutChambre.js"></script>
{% endblock %}
