{% extends 'base.html.twig' %}



{% block body %}

    <marquee behavior="" direction="" class="a-center">
      <h3>Welcome to university of the wise developers<br />Vous pouvez:<br />
      Ajouter Un Etudiant<br />Lister Les Etudiants<br />Ajouter Une Chambre<br />Lister Les Chambre</h3>
    </marquee>

{% endblock %}
