{% extends 'base.html.twig' %}



{% block body %}

    <h1>Hello ✅</h1>
    <div>
        {{form_start(formEtud)}}
        {{form_widget(formEtud)}}
        {{form_end(formEtud)}}
    </div>
{% endblock %}
