{% extends 'base.html.twig' %}



{% block body %}

    <h2 class="text-center">Hello Veuillez Ajouter vos étudiants✅</h2>
    <div>
        {{form_start(formEtud)}}
        {{form_widget(formEtud)}}
        {{form_end(formEtud)}}
    </div>
{% endblock %}
