<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <a href="http://127.0.0.1:8000/etudiant"> etudiant</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
