<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="bootstrap/bt_css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        {% endblock %}
    </head>
    <body>
    <a href="http://127.0.0.1:8000/etudiant"> etudiant</a>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
