{% extends 'base.html.twig' %}



{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/Symfony/allocation_chambre/src/Controller/EtudiantController.php'|file_link(0) }}">src/Controller/EtudiantController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/Symfony/allocation_chambre/templates/etudiant/index.html.twig'|file_link(0) }}">templates/etudiant/index.html.twig</a></code></li>
    </ul>

{% endblock %}
